<%- include('partials/header.ejs'); %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Listagem de consultas</h2>
        </div>
        <div class="card-body">
            <br>
            <form action="/search" method="GET">
                <label for="search">Pesquisa:</label>
                <br>
                <input class="form-control"
                    type="text" id="search" name="search"
                    placeholder="Digite CPF ou Email do Paciente">
                <br>
                <button class="btn btn-success">Pesquisar</button>
                <a href="/" class="btn btn-warning">Home</a>
            </form>
            <hr>
        <% appointments.forEach(a => {%>
           
            <p>Consulta <%= a.description %>
            <p>Paciente: <%= a.name %></p>
            <p>Email: <%= a.email %></p>
            <p>CPF: <%= a.cpf %></p>
            <hr>
        <% }); %>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs'); %>